ul.otobox-choices {
    display: none;
}
.otobox-wrapper.otobox-active ul.otobox-choices {
    display: block;
}
.otobox-wrapper .otobox-input {
    display: none;
    position: absolute;
    top: -1000px;
    height: 0;
    width: 0;
}
.otobox-wrapper .otobox-editableDiv {

}
/**
 * Thanks to http://stackoverflow.com/a/18368720/375966
 */
.otobox-wrapper .otobox-editableDiv:empty:not(:focus):before{
    color: #ccc;
    content: attr(data-placeholder);
}
.otobox-wrapper .otobox-choices {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: #fff;
    border-radius: 3px 3px 0 0;
    border: solid 1px #ddd;
    box-shadow: 1px -1px 2px 0px rgba(0,0,0,0.2);
    z-index: 99999;
}
.otobox-wrapper .otobox-choices li
{
    width: 100%;
    height: auto;
}
.otobox-wrapper .otobox-choices li a, .otobox-wrapper .otobox-choices li span
{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 0.75em;
    line-height: 25px;
    display: inline-block;
    color: #666;
}
.otobox-wrapper .otobox-choices li a:hover
{
    background-color: #ffa726;
    color: #fff;
    font-weight: 700;
}
.otobox-wrapper .otobox-hint {
    color: #ccc;
}
.otobox-wrapper .otobox-choiceItem {
    border: 0;
    border-radius: 3px;
    padding: 1px;
    background: rgba(255, 167, 38, 0.4);
}
